# Node.js
node_modules/  
backend/node_modules/
frontend/node_modules/
config/firebase.json
.env
frontend/.env
backend/.env
     # optional, but recommended
npm-debug.log
yarn-error.log

.env
config/firebase.json
../frontend/.env

# Logs
logs/
*.log
.env
# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# User uploads
upload/
uploads/
