# Node.js
node_modules/       # optional, but recommended
npm-debug.log
yarn-error.log
.env

# Logs
logs/
*.log
.env
# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# User uploads
upload/
uploads/
